$font-family: 'Lato', sans-serif;
$white-clr: hsl(0, 0%, 100%);
$dark-grey-clr: hsl(202, 57%, 15%);
$grey-clr: hsl(201, 23%, 34%);
$light-grey-clr: hsl(203, 15%, 47%);
$border-clr: #ddd;

/* Buttons Colors */
$btn-primary-clr: hsl(202, 57%, 15%);
$btn-secondary-clr: hsl(201, 23%, 34%);
$btn-tertiary-clr: hsl(203, 15%, 47%);

/* Landing Page */
$primary-clr: hsl(202, 57%, 15%);
$secondary-clr: hsl(201, 23%, 34%);
$tertiary-clr: hsl(203, 15%, 47%);
