.white-clr {
  color: $white-clr;
}
.dark-grey-clr-txt {
  color: $dark-grey-clr;
}
.grey-clr-txt {
  color: $grey-clr;
}
.light-grey-clr-txt {
  color: $light-grey-clr;
}

/* color palette cards */

.dark-grey-clr-bg {
  @include color-card($dark-grey-clr);
}
.grey-clr-bg {
  @include color-card($grey-clr);
}
.light-grey-clr-bg {
  @include color-card($light-grey-clr);
}
