@font-face {
  font-family: 'Gotham-Bold';
  src:  url('../fonts/Gotham-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham-Pure-Bold';
  src:  url('../fonts/GOTHAM-BOLD_0.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham-Italic';
  src:  url('../fonts/GOTHAM-BOOKITALIC_0.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham-Light';
  src:  url('../fonts/GOTHAM-LIGHT_0.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gotham-Medium';
  src:  url('../fonts/Gotham-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
