@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
/* mixin for color palette cards */
/* mixin for containers */
@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased; }

html, body {
  width: 100%;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

body, input, select, textarea, button {
  font-family: "Lato", sans-serif; }

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #102c3c;
  font-family: inherit;
  font-weight: 700; }

/* Headers */
h1 {
  font-size: 40px;
  line-height: 1; }

h2 {
  font-size: 32px;
  line-height: 1.25; }

h3 {
  font-size: 28px;
  line-height: 1.25; }

h4 {
  font-size: 24px;
  line-height: 1.5; }

h5 {
  font-size: 20px;
  line-height: 1.5; }

h6 {
  font-size: 16px;
  line-height: 1.5; }

.header-48 {
  font-size: 48px;
  line-height: 1; }

.header-56 {
  font-size: 56px;
  line-height: 1; }

.header-64 {
  font-size: 64px;
  line-height: 1; }

.header-72 {
  font-size: 72px;
  line-height: 1; }

/* Content */
p {
  font-size: 24px;
  font-weight: 500;
  color: #435d6b;
  line-height: 36px; }

.text-12 {
  font-size: 12px;
  line-height: 1.75; }

.text-14 {
  font-size: 14px;
  line-height: 1.75; }

.text-16 {
  font-size: 16px;
  line-height: 1.75; }

.text-18 {
  font-size: 18px;
  line-height: 1.5; }

.text-20 {
  font-size: 20px;
  line-height: 1.25; }

.text-24 {
  font-size: 24px;
  line-height: 1.25; }

.text-30 {
  font-size: 30px;
  line-height: 1; }

.text-36 {
  font-size: 36px;
  line-height: 1; }

.text-48 {
  font-size: 48px;
  line-height: 1; }

.text-60 {
  font-size: 60px;
  line-height: 0.75; }

.text-72 {
  font-size: 72px;
  line-height: 0.75; }

/* Help Texts */
.hlp-txt-10 {
  font-size: 10px; }

.hlp-txt-12 {
  font-size: 12px; }

.hlp-txt-14 {
  font-size: 14px; }

.hlp-txt-16 {
  font-size: 16px; }

.hlp-txt-18 {
  font-size: 18px; }

.hlp-txt-20 {
  font-size: 20px; }

/* Font Weights */
.light-weight {
  font-weight: 300; }

.medium-weight {
  font-weight: 500; }

.heavy-weight {
  font-weight: 700; }

.white-clr {
  color: white; }

.dark-grey-clr-txt {
  color: #102c3c; }

.grey-clr-txt {
  color: #435d6b; }

.light-grey-clr-txt {
  color: #667c8a; }

/* color palette cards */
.dark-grey-clr-bg {
  background: #102c3c; }

.grey-clr-bg {
  background: #435d6b; }

.light-grey-clr-bg {
  background: #667c8a; }

/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-10 which gives margin 10 pixels.
.m-r-10 which gives margin-right 10 pixels.
.m-t-10 gives gives margin-top 10 pixels.
.m-l-10 gives margin-left 10 pixels and
.m-b-10 gives margin-bottom 10 pixels.
.p-10 gives padding 10 pixels.
.p-b-10 gives padding bottom 10 pixels.
.p-l-10 gives padding left 10 pixels.
.p-t-10 gives padding top 10 pixels and
.p-r-10 gives padding right 10 pixels.
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/
.mt-8 {
  margin-top: 8px; }

.pd-t-8 {
  padding-top: 8px; }

.mb-8 {
  margin-bottom: 8px; }

.pd-b-8 {
  padding-bottom: 8px; }

.ml-8 {
  margin-left: 8px; }

.pd-l-8 {
  padding-left: 8px; }

.mr-8 {
  margin-right: 8px; }

.pd-r-8 {
  padding-right: 8px; }

.m-8 {
  margin: 8px; }

.pd-8 {
  padding: 8px; }

.mt-16 {
  margin-top: 16px; }

.pd-t-16 {
  padding-top: 16px; }

.mb-16 {
  margin-bottom: 16px; }

.pd-b-16 {
  padding-bottom: 16px; }

.ml-16 {
  margin-left: 16px; }

.pd-l-16 {
  padding-left: 16px; }

.mr-16 {
  margin-right: 16px; }

.pd-r-16 {
  padding-right: 16px; }

.m-16 {
  margin: 16px; }

.pd-16 {
  padding: 16px; }

.mt-24 {
  margin-top: 24px; }

.pd-t-24 {
  padding-top: 24px; }

.mb-24 {
  margin-bottom: 24px; }

.pd-b-24 {
  padding-bottom: 24px; }

.ml-24 {
  margin-left: 24px; }

.pd-l-24 {
  padding-left: 24px; }

.mr-24 {
  margin-right: 24px; }

.pd-r-24 {
  padding-right: 24px; }

.m-24 {
  margin: 24px; }

.pd-24 {
  padding: 24px; }

.mt-32 {
  margin-top: 32px; }

.pd-t-32 {
  padding-top: 32px; }

.mb-32 {
  margin-bottom: 32px; }

.pd-b-32 {
  padding-bottom: 32px; }

.ml-32 {
  margin-left: 32px; }

.pd-l-32 {
  padding-left: 32px; }

.mr-32 {
  margin-right: 32px; }

.pd-r-32 {
  padding-right: 32px; }

.m-32 {
  margin: 32px; }

.pd-32 {
  padding: 32px; }

.mt-40 {
  margin-top: 40px; }

.pd-t-40 {
  padding-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

.pd-b-40 {
  padding-bottom: 40px; }

.ml-40 {
  margin-left: 40px; }

.pd-l-40 {
  padding-left: 40px; }

.mr-40 {
  margin-right: 40px; }

.pd-r-40 {
  padding-right: 40px; }

.m-40 {
  margin: 40px; }

.pd-40 {
  padding: 40px; }

.mt-48 {
  margin-top: 48px; }

.pd-t-48 {
  padding-top: 48px; }

.mb-48 {
  margin-bottom: 48px; }

.pd-b-48 {
  padding-bottom: 48px; }

.ml-48 {
  margin-left: 48px; }

.pd-l-48 {
  padding-left: 48px; }

.mr-48 {
  margin-right: 48px; }

.pd-r-48 {
  padding-right: 48px; }

.m-48 {
  margin: 48px; }

.pd-48 {
  padding: 48px; }

/* containers */
.container-600 {
  max-width: 600px;
  margin: auto; }

.container-900 {
  max-width: 900px;
  margin: auto; }

.container-whole {
  max-width: 100%;
  margin: auto; }

/* Grids */
.grid-wrapper-0 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 0px; }
  .grid-wrapper-0 .col-one-whole {
    width: 100%;
    padding-left: 0px; }
  .grid-wrapper-0 .col-one-half {
    width: 50%;
    padding-left: 0px; }
  .grid-wrapper-0 .col-one-third {
    width: 33.33333%;
    padding-left: 0px; }
  .grid-wrapper-0 .col-one-quarter {
    width: 25%;
    padding-left: 0px; }
  .grid-wrapper-0 .col-one-fifth {
    width: 20%;
    padding-left: 0px; }

.grid-wrapper-5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 5px; }
  .grid-wrapper-5 .col-one-whole {
    width: 100%;
    padding-left: 5px; }
  .grid-wrapper-5 .col-one-half {
    width: 50%;
    padding-left: 5px; }
  .grid-wrapper-5 .col-one-third {
    width: 33.33333%;
    padding-left: 5px; }
  .grid-wrapper-5 .col-one-quarter {
    width: 25%;
    padding-left: 5px; }
  .grid-wrapper-5 .col-one-fifth {
    width: 20%;
    padding-left: 5px; }

.grid-wrapper-10 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 10px; }
  .grid-wrapper-10 .col-one-whole {
    width: 100%;
    padding-left: 10px; }
  .grid-wrapper-10 .col-one-half {
    width: 50%;
    padding-left: 10px; }
  .grid-wrapper-10 .col-one-third {
    width: 33.33333%;
    padding-left: 10px; }
  .grid-wrapper-10 .col-one-quarter {
    width: 25%;
    padding-left: 10px; }
  .grid-wrapper-10 .col-one-fifth {
    width: 20%;
    padding-left: 10px; }

.grid-wrapper-15 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-right: 15px; }
  .grid-wrapper-15 .col-one-whole {
    width: 100%;
    padding-left: 15px; }
  .grid-wrapper-15 .col-one-half {
    width: 50%;
    padding-left: 15px; }
  .grid-wrapper-15 .col-one-third {
    width: 33.33333%;
    padding-left: 15px; }
  .grid-wrapper-15 .col-one-quarter {
    width: 25%;
    padding-left: 15px; }
  .grid-wrapper-15 .col-one-fifth {
    width: 20%;
    padding-left: 15px; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
